<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}">
<link href="{T_THEME_PATH}/tag_board.css" rel="stylesheet" type="text/css">
<div id="edit">
	<form name="tb_edit" action="{S_CONFIRM_ACTION}" method="post">
	{S_HIDDEN_FIELDS}
	<textarea name="tb_message" rows="3" style="width:90%">{MESSAGE_TEXT}</textarea>
	<br /><br />
	<input type="submit" name="submit" value=" {L_CHANGE} " class="button1" />
	&nbsp;
	<input type="button" onClick="history.back()" value=" {L_CANCEL} " class="button2" />
	</form>
</div>